body
{
    background: #ea7676;
}

#heading
{
    
    background-color: white;
    text-align: center;
    font-size: 60px;
}

#block1
{
    position: absolute;width: 600px; height: 500px;
    margin-top: 20px;
    margin-left: 60px;
    background-color: white;
    border-radius: 10px
}

#title
{
    border: solid;
    font-size: 30px;
    margin-top: 20px;
    margin-left: 20px;
    padding-top: 4px;
    padding-left: 10px;
    width: 550px;

}

#description
{
    border: solid;
    font-size: 20px;
    margin-top: 20px;
    margin-left: 20px;
    padding-bottom: 220px;
    padding-left: 10px;
    width: 550px;
    border-radius: 5px;
}

#save
{
    background-color: rgb(27, 159, 225);
    font-size: 30px;
    margin-top: 20px;
    margin-left: 20px;
    padding-left: 250px;
    padding-right: 230px;
}

#right
{
    margin-left: 750px;
    margin-top: 70px;
}

#prints
{
    background: white;
    margin-right: 40px;
    display: flex;
    justify-content: space-between;
}

#title_print
{
    position: absolute;
   font-size: 20px;
    width: 150px;
    height: 90px;
    border: lavender solid;
    margin-left: 16px;
    margin-top: 6px;
    text-transform: capitalize;
}
#prints{
    border: 1px solid red;
    display: flex;
}
.container{
    display: flex;
    justify-content: space-between;
}
.head{
    margin-left: 0.5vw;
}
.del{
    margin-right: 2vw;
}
#desc_print
{
    position: relative;
    margin-left: 160px;
    width: 450px;
    height: 90px;
    font-size: 20px;
    border: lavender solid;
   
    margin-top: 6px;
    text-transform: capitalize;
    
}

#delete_btn
{
    font-size: 20px;
    
    background-color: red;
    
}